@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
  
body {
    background: #0b1966;
    color: #ededed;
    font-family: 'Roboto', sans-serif;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    text-align: center;
    padding: 1vh 0;
    margin-bottom: 1vh;
}

/* Title */
.topnav .title {
    font-size: x-large;
    font-weight: bold;
    margin: 2vh 2vw;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-wrap: wrap;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 1% 2%;
    margin-top: 1vh;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    min-width: fit-content;
}

/* Style the hamburger menu */
.topnav a.icon {
    display: block;
    position: absolute;
    right: 10vw;
    top: 2vh;
    padding: 1vh 1vh;
    margin: 0;
}

/* Add a grey background color on mouse-over */
/* .topnav a:hover {
    background-color: #ddd;
    color: #0b1966;
} */

.chat {
    width: 80vw;
    background: #202da0;
    border: 1px solid #152374;
    border-radius: 5px;
    box-shadow: 0 0 5px #152374;
    margin: 0 auto;
    padding: 10px;
}

.messages {
    height: 67.5vh;
    overflow: auto;
    padding: 10px;
}

.message {
    border-bottom: 1px solid #152374;
    margin: 10px;
    padding: 10px;
}

.message .topic {
    background: rgba(11, 25, 102, 0.5);
    border: 1px solid rgba(21, 35, 116, 0.5);
    box-shadow: 0 0 5px rgba(21, 35, 116, 0.5);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
    width: fit-content;
}

.user-message {
    text-align: right;
}

.input {
    width: 78vw;
}

.input input[type="text"] {
    width: 85%;
    padding: 10px;
    border: 1px solid #152374;
    border-radius: 5px;
    background-color: #ededed;
}

.input input[type="submit"] {
    width: 10%;
    float: inline-end;
    padding: 10px;
    border: 1px solid #152374;
    border-radius: 5px;
    background-color: #ededed;
}

.bot-message {
    position: relative;
    text-align: left;
}

.answer-container {
    margin-bottom: 2.5%;
}

.feedback-container {
    position: absolute;
    right: 2.5%;
    bottom: 2.5%;
    display: flex;
}

.feedback-container button {
    background: none;
    border: none;
    font-size: 112.5%;
}

.feedback-container #thumbs-down-button {
    margin-left: 2.5%;
}

.fake-chat .messages {
    height: 70vh;
}

.chat .chat-title {
    text-align: center;
    font-size: large;
    font-weight: bolder;
    margin-top: 1%;
    padding-bottom: 1%;
}

@media screen and (max-width: 600px) {
    .header {
        margin-bottom: 7.5%;
    }

    .input input[type="text"] {
        width: 75%;
    }

    .input input[type="submit"] {
        width: 15%;
    }

    .chat .chat-title{
        font-size: 90%;
    }
}