<!DOCTYPE html>

<html>
  <head>
    <title> Legalpha - About </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/menu.js"></script>
  </head>
  <body>
    <div class="topnav">
      <span class="title">Legαlphα 🤖 ⚖️</span>
      <div id="myLinks">
        <a href="/"> Chat </a>
        <a href="/about"> About </a>
        <a href="/community"> Community </a>
        <a href="https://airtable.com/appfIBGA2S3KozQzt/shrNQVeyp2sRGjbzo" target="_blank"> Feedback </a>
        <a href="#"> Keep Legalpha Running! </a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="chat fake-chat">
      <p class="chat-title"> About </p>
      <div class="messages">
        <div class="message user-message">
          <p> What is Legalpha? </p>
        </div>
        <div class="message">
          <p> 
            Legalpha is a chatbot that answers questions about tenancy law in easy to understand plain English. <br/>
            It is built by <a href="/community">Legalpha Community</a> on a voluntary basis and free for everyone.
          </p>
        </div>
        <div class="message user-message">
          <p> How did it start? </p>
        </div>
        <div class="message">
          <p> 
            For equal rights, everyone should have equal access to legal information. <br/>
            However, legal information is often hard to understand and not easily accessible. <br/>
            This results in inequalities between people who can afford a lawyer and people who can't. <br/>
            That was exactly my situation, when I had a conflict with a big real estate company with many lawyers. <br/>
            I could have paid them lots of money, just because I didn't know my rights properly. <br/>
            Although it was a though journey, I stood up, researched a lot and finally convinced them, I was right. <br/>
            Today, the purpose of Legalpha is democratizing legal system by making legal information more accessible and understandable for more people like me. <br/>
          </p>
        </div>
        <div class="message user-message">
          <p> Why should I use Legalpha instead of other chatbots like ChatGPT? </p>
        </div>
        <div class="message">
          <p>
            Simple: Legalpha is specifically designed for providing legal information. <br/><br/>
            • ChatGPT may hallucinate, but Legalpha doesn't: <br/>
            Most advanced chatbots, we have today, are generative models and they can make up things that are not true.
            This possibility of disinformation is a big problem for sensitive domains like law.
            Legalpha gives you the most relevant, pre-defined and double-checked answers based on your case.
            This way we can make sure you only get correct answers and no disinformation. <br/><br/>
            • Answers based on laws and precedent cases: <br/>
            Legalpha answers your questions based on laws and precedent cases, providing you references for further research and argumentation. <br/><br/>
            • Know the context of the answer: <br/>
            In law, context is everything. There may be different answers to the same question based on your specific case.
            Legalpha also gives you, in which context, it answered your question.
            So, based on the provided context, you can always double-check if the answer applies to your specific case or not.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>