<!DOCTYPE html>

<html>
  <head>
    <title> Legalpha - Chatbot for Tenancy Law </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" media="screen">
    <script src="/static/script.js"></script>
  </head>
  <body>
    <div class="header">
        <h1> Legalpha - Chatbot for Tenancy Law 🤖 ⚖️ </h1>
        <a href="/"> Chat </a>
        <a href="/about_us"> About Us </a>
        <a href="#"> Give Feedback </a>
        <a href="#"> Donate </a>
    </div>
    <div class="chat">
        <div class="messages">
            <div class="message">
                <p> 
                    Hi, I'm Legalpha. 👋 I'm here to help you with your questions about tenancy law in Germany.
                    I try to answer legal questions in easy to understand plain English.
                    However, please keep in mind I'm not a lawyer and I can't give you legal advice.
                    Always double check the answers I provide. For legal advice, please contact a lawyer. 
                </p>
            </div>
        </div>
        <div class="input">
            <input id='input-text' type="text" placeholder="Type your question here..." />
            <input id='ask-button' type="submit" value="Ask!" />
        </div> 
    </div>
  </body>
</html>